<mat-form-field>
    <mat-label>⏱ (s)</mat-label>
    <input matInput type="number" [(ngModel)]="match.time">
</mat-form-field>

<mat-form-field>
    <mat-label>Touches</mat-label>
    <input matInput type="number" [(ngModel)]="match.touches">
</mat-form-field>

<mat-form-field>
    <mat-label>Periods</mat-label>
    <input matInput type="number" [(ngModel)]="match.periods">
</mat-form-field>

<mat-form-field>
    <mat-label>Bouts</mat-label>
    <input matInput type="number" [(ngModel)]="match.bouts">
</mat-form-field>

<mat-form-field>
    <mat-label>Passivity</mat-label>
    <mat-select [(ngModel)]="match.passivity">
        <mat-option value="true">Yes</mat-option>
        <mat-option value="false">No</mat-option>
    </mat-select>
</mat-form-field>